# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Wrangler
.wrangler/
.dev.vars
.env

# Build output
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

#other
rushbinbackup/
testdata/